body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    margin: 0; 
    background-color: #f0f0f0;
}

#calculatorTitle {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 40px;
    font-size: 24px;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.displayOperator, .display {
    color: #fff;
    background-color: #222;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
}

.displayOperator {
    font-size: 18px;
    height: 30px;
}

.display {
    font-size: 24px;
    height: 50px;
}

.allButton {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

button {
    font-size: 20px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: red;
    color: white;
}

button:active {
    transform: scale(0.98);
}

button.operator {
    background-color: #fa8231;
    color: #fff;
}

button.operator:hover {
    background-color: #fb9334;
}

button.equal {
    grid-column: span 2;
    background-color: #28a745;
    color: #fff;
}

button.equal:hover {
    background-color: #2dc653;
}

@media (max-width: 600px) {
    .calculator {
        width: 90%;
        max-width: 400px;
    }

    .displayOperator, .display {
        font-size: 20px;
    }

    button {
        font-size: 18px;
    }
}
